@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: white;
  --black: black;
  --sliver: #bac8d3;
}

body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  min-width: 350px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}

p {
  color: var(--sliver);
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 400;
}

.container {
  max-width: 99vw;
  padding: 0 20px;
  margin: 0 auto;
}

.flexsb {
  display: flex;
  justify-content: space-between;
}

.buttonDefault {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--primaryColor);
}

.buttonDefault:hover {
  transition: all 0.5s;
  opacity: 0.7;
}

.primaryBtn {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  background-color: transparent;
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  border: 3px solid var(--primaryColor);
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: var(--primaryColor);
  transition: all 0.5s;
}

.CVBtn {
  outline: none;
  font-size: 17px;
  background-color: transparent;
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  border: 3px solid var(--primaryColor);
  cursor: pointer;
}

.CVBtn:hover {
  background-color: var(--primaryColor);
  transition: all 0.5s;
}

.CVBtn a {
  padding: 15px;
}

/* Header */
header {
  background-color: var(--headingColor);
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  margin: 0;
  padding: 0 20px;
}

header .container {
  align-items: center;
  justify-content: space-between;
}

header .icon {
  font-size: 35px;
}

header .navLink {
  margin-left: 40px;
}

header .navLink:hover {
  transition: 0.7s all;
  color: var(--primaryColor);
}

header .logo {
  height: 6vh; 
}

header .logo .img-logo{
 height: 100%;
}

.toggle {
  cursor: pointer;
  color: var(--white);
  display: none;
  padding: 0;
  border: none;
}

/*Fim do Header*/
/*Section*/
section {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.hero {
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  background-image: url("../public/images/home-bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.heroContainer {
  max-width: 45%;
  margin: auto;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--primaryColor);
}

.heading {
  font-size: 30px;
  color: var(--primaryColor);
  margin-bottom: 60px;
  text-align: center;
  font-weight: 600;
}

/*Fim da Section*/
/*About*/

.about {
  margin-bottom: 10px;
}

.about .heading {
  text-align: left;
  margin: 0;
}

.left {
  width: 35%;
  margin-bottom: 10px;
}

.left .img img {
  width: 100%;
  border-radius: 1rem;
}

.right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Fim do About*/

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
  place-items: center;
  text-align: center;
}

.btncenter {
  text-align: center;
}

/*Services*/
.services {
  margin-top: 50px;
  padding: 0 40px;
}

.services .box {
  background-color: var(--primaryBackground);
  padding: 20px;
}

.services i {
  color: var(--primaryColor);
}

.services h3 {
  margin-top: 20px;
}

/*Fim do Services*/
/*Skills e experiences*/
.skills {
  display: flex;
}

.skills .container .text {
  margin-bottom: 100px;
}
.skills .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills .container .content .skill-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.skills .content .item {
  display: flex;
  flex-direction: column;
  width: 130px;
  justify-content: center;
  padding: 0 15px;
}

.skills .content .item .image {
  background-color: #3e4752;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
  cursor: pointer;
}
.skills .content .item .item-text {
  text-align: center;
}

.skills .content .item .image img {
  width: 100%;
  transition: 0.4s all;
}

.skills .content .item .image img:hover {
  transform: scale(1.2);
}

.skills .content .experience-content {
  margin-left: 200px;
}

.skills .content .experience-content .item-ex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}

.skills .content .experience-content .item-ex .year {
  color: var(--primaryColor);
  font-weight: bold;
  margin: 0 35px 0px 0px;
}

.skills .content .experience-content .item-ex .title h3 {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
}

.skills .content .experience-content .item-ex .title p {
  margin: 10px 0;
}

/*Fim do Skills e experiences*/
/*Counter*/
.counter {
  margin-top: 80px;
  position: relative;
}

.hero.counter::after {
  background-image: url("../public//images/some-facts-bg.png");
  height: 50vh;
}

.counter h1 {
  margin: 0;
  font-size: 30px;
}

/*Fim do Couter*/
/*Portifolio*/
article {
  margin-top: 50px;
  margin-bottom: 80px;
}

article img {
  width: 100%;
  height: 100%;
}

article .box {
  position: relative;
  transition: 0.5s;
}

article .box .img img{
  max-height: 270px;
}

.content .scale {
  transition: all 0.5s;
  cursor: pointer;
}

.scale:hover {
  transform: scale(1.1);
}

.catButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.catButton button {
  text-transform: capitalize;
  margin-right: 20px;
}

/*Fim do Portifolio*/
/*Depoiments*/
.depoiments {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.depoiments .container {
  padding: 0 40px;
}

.depoiments::after {
  background-image: url("../public/images/testimonials-bg.png");
}

.depoiments .box {
  width: 60%;
  margin: auto;
}

.depoiments .i {
  background: none;
  font-size: 80px;
  padding: 15px;
  margin: 30px 0;
  display: inline-block;
  color: var(--primaryColor);
}

.arrowNext {
  font-size: 50px;
}

.depoiments .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid var(--primaryColor);
  cursor: pointer;
}

.depoiments img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
}

label {
  color: var(--primaryColor);
  margin: 10px 0;
  display: inline-block;
}

/*Fim do Depoiments*/
/*Blog*/
.blog{
  padding: 0 20px;
}
.blog img {
  width: 100%;
}

.blog .box {
  background-color: var(--primaryBackground);
  border-radius: 10px;
}

.blog .box .text {
  padding: 20px;
}

/*Fim do Blog*/
/*Contact*/
.contact {
  margin: 20px 0;
}

.contact .right,
.contact .left {
  padding: 20px;
}

.contact .flex input:nth-child(1) {
  margin-right: 10px;
}

.contact button,
.contact textarea,
.contact input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}

/*Fim do Contact*/
/*Footer*/
footer {
  
  top: 100vh;
  width: 100vw;
  text-align: center;
  background-color: var(--primaryBackground);
  padding: 70px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot-icon {
  flex-direction: row;
}

footer i {
  margin: 5px;
  cursor: pointer;
}

footer i a {
  color: var(--primaryColor);
}

/*Fim do Footer*/
/*Responsive*/
@media (max-width: 1200px) {
  .about {
    margin-bottom: 80px;
    padding: 20px;
  }

  .portifolio .catButton {
    display: grid;
    grid-auto-flow: row;
    padding: 0;
  }

  .skills {
    margin: 150px 0;
  }

  .skills .container .content .experience-content {
    margin-left: 100px;
    padding-right: 20px;
  }

  header{
    padding-top: 15px;
  }

  header .nav {
    display: none;
  }
  .toggle {
    display: block;
    background: none;
    font-size: 25px;
  }
  .hideMenu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: var(--headingColor);
    transition: 0.4s all;
  }
}

@media (max-width: 768px) {
  header{
    padding-top: 19px;
  }
  header a {
    display: block;
    color: var(--white);
  }

  header .logo {
    padding-bottom: 6px;
    width: 8%;
  }
  
  header .logo .img-logo{
   width:100%;
  }

  .hero {
    height: 60vh;
  }

  .heroContainer {
    max-width: 100vw;
  }

  .heroContainer h1 {
    font-size: 3rem;
  }

  .hero::after {
    height: 60vh;
  }

  section {
    height: auto;
    padding-top: 50px;
  }

  .contact .flexsb {
    flex-direction: column;
    text-align: center;
  }

  .about {
    margin-bottom: 25px;
  }

  .about .heading {
    text-align: center;
  }

  .about .right {
    align-items: center;
  }

  .about .right button {
    margin: auto;
  }

  .about .flex {
    flex-direction: column;
    text-align: justify;
  }

  .skills .container .content {
    grid-template-columns: 1fr;
  }

  .skills .container .content .skill-content {
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
  }

  .skills .container .content .experience-content {
    margin: 0;
  }

  .skills .container .content .experience-content .item-ex .title {
    margin-bottom: 30px;
  }

  .services{
    padding: 0;
  }

  .portifolio .catButton {
    display: flex;
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .grid3,
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact .right,
  .contact .left {
    padding: 0px;
  }
}
@media (max-width: 600px) {
  header .logo {
    padding-bottom: 9px;
    width: 9%;
  }
  .grid3,
  .grid4 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .skills .container .content {
    display: grid;
    grid-template-columns: 1fr;
  }

.portifolio .container{
  margin-top: 150px;
}

  .blog {
    margin-top: 70px;
  }

  .contact {
    margin-top: 100px;
  }
  .scroll-icon {
    right: 40px;
  }
}
@media (max-width: 410px) {
  header .logo {
    padding-bottom: 60px;
    width: 9%;
  }
  .about {
    margin-top: 45px;
  }

  .about .right:first-child {
    margin-top: 50px;
  }
}

/*Fim do Responsive*/
/*Scroll icon*/
.scroll-icon {
  font-size: 50px;
  position: fixed;
  top: 91%;
  right: 40px;
  cursor: pointer;
  color: var(--primaryColor);
}

.scroll-icon:hover {
  transform: scale(1.07);
  transition: all 0.3s;
}
  